<%- include("header") -%>

<h2>This is the about page</h2>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quia molestiae, qui repellat illo aspernatur voluptas eum nulla voluptates libero alias velit atque facere numquam porro, aperiam aliquam nemo in!</p>

<%- include("footer") -%>